<!DOCTYPE html>
<html lang="en">

    <%- include ('../partials/head.ejs') %>

    <link href="/css/productDetail.css", rel="stylesheet">
    

</head>    

<body>

    <%- include ('../partials/header.ejs') %>
    

    <main>

<<<<<<< HEAD
        <% product.forEach(valor=>{ %>

=======
>>>>>>> 4685b506e887dc007699bc91971f7fc33472b180
        <article class="article-producto">

            <div class="div-img-producto">
                <img src="<%= product.image %>" alt="telefono-8">
            </div>

            <div class="div-datos-producto">

<<<<<<< HEAD
                <h4 class="h4-nombre-producto"><%= valor.name%></h4>

                <p class="p-precio">$<%= valor.price%></p>
                <h4 class="h4-nombre-producto"><%= valor.name %></h4>
                <h3><%= valor.category %></h3>
=======
                <h4 class="h4-nombre-producto"><%= product.name %></h4>
>>>>>>> 4685b506e887dc007699bc91971f7fc33472b180

                <% if (product.discount != 0) { %>

                    <div class="div-precio-con-descuento">

                        <p class="p-precio"><small>ANTES </small>$<%= toThousand(product.price) %></p>
                        <p class="p-descuento"><%= product.discount %>% <small>de </small>DESCUENTO</p>
                        <h5 class="p-precio-final">$<%= toThousand (product.price * (1 - product.discount / 100)) %></h5>

                    </div>

                <% } else { %>

                    <h5 class="p-precio-final">$<%= toThousand (product.price) %></h5> 
                    
                <% } %>

                <div class="div-formas-pago">

                    <i class="fa-solid fa-credit-card i-tarjeta"></i>
                    <span><strong>6 cuotas sin interés</strong> de $<%= (product.price / 6).toFixed(2) %></span>

                </div>

                <div class="div-comprar">
                    
                    <button class="button-agregar-al-carrito" type="submit">AGREGAR AL CARRITO</button>

                </div>

                <div class="div-envio-gratis">

                    <i class="fa-solid fa-truck i-camion"></i>

                    <span><strong>Envío gratis</strong> superando los $15.000,00</span>

                </div>

                <form action="" method="">

                    <div class="shipping-cost">
                        <input type="number" name="postal-code" placeholder="Tu código postal">

                        <button type="submit">Calcular</button>
                    </div>

                </form>
            
                <div class="searh-postal-code">

                    <a href="https://www.correoargentino.com.ar/formularios/cpa" target="_blank">No sé mi código postal</a>
                 </div>

                <div class="div-descripcion-producto">

<<<<<<< HEAD
                    <p><%= product.description%></p>

=======
                    <p><%= product.description %></p>

                             
                        
                    
>>>>>>> 4685b506e887dc007699bc91971f7fc33472b180

                </div>
            </div> 
        </article>
    
    </main>

    <%- include ('../partials/footer.ejs') %>
   
    
</body>
</html>
