<!DOCTYPE html>
<html>

    <%- include('./partials/head.ejs') %>

    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>

    <%- include('./partials/header.ejs') %>
<!-- <!- ---------------------- Main ----------------------------------> 
    <main>

        <div class="portada">
        <img src="./images/portadas/portada-1.jpg" alt="Portada-1">
        <!-- <h1>Tienda de objetos vintage</h1> -->
        </div>

        <section class="categorias-home">
        <% categories.forEach (category => { %> 
            <article>
                <a href="/products/productsList/?category=<%= category.id %>">
                    <p class="nombre-categoria"><%= category.label %></p>
                    <img src="<%= category.img %>" alt="CategoryImg">
                </a>
            </article>
        <% }) %>             
        </section>
     
    <div>
        <button class = "showAllProducts"><a href='/products/productsList'>Ver todos los productos</a></button>
    </div>
    
    <div class="div-destacados"> 
        <h4>Productos destacados</h4>
 
        <section class="destacados">
           
            <% products.forEach (product => { %> 
                <% if (product.special == 1) { %> 
                    <article>
                        <a href="/products/productDetail/<%= product.id %>">
                            <img src="<%= product.image %>" alt="Product Img">
                        </a>
                        
                        <div class="product-description">
                            <p class="product-name"><%= product.name %></p>

                            <% if (!product.discount || product.discount == 0) { %> 
                                <p class="price">$<%= toThousand(product.price)%></p>
                                <p class="cuotas">6 cuotas sin interés de <strong>$<%= toThousand((product.price / 6).toFixed(2))%></strong></p>
                            <% } else { %>
                                <div class="price-discount">
                                    <span class="orig-price">$<%= toThousand(product.price) %></span>
                                    <span class="final-price">$<%= toThousand(product.price * (1 - product.discount / 100)) %></span>
                                </div>
                                <p class="cuotas">6 cuotas sin interés de <strong>$<%= toThousand(((product.price * (1 - product.discount / 100)) / 6).toFixed(2)) %></strong></p>
                                <% } %>
    
                            <button><a href="/products/productDetail/<%= product.id %>">Agregar al carrito</a></button>
                        </div>
                        
                    </article>
                <% } %>
            <% }) %>
                  
        </section>
    </div>  

    </main>

    <%- include('./partials/footer.ejs') %>
</body>

</html>