<!DOCTYPE html>
<html>
        <%- include ('../partials/headAdmin.ejs') %>
    
        <link href="/css/productAdmin.css", rel="stylesheet">
        
    
    </head>

    <body>

        <%- include ('../partials/headerAdmin.ejs') %>

        <main>
            <h1>Modificar producto: <%= productFind.name %></h1>

            <form action="/admin/<%= productFind.id %>?_method=PUT" method="POST" class="form-producto" enctype="multipart/form-data">

                <div class="div-datos-producto">
                    <label for="name">Nombre:</label>
                    <input type="text" name="name" id="name" value="<%= productFind.name %>">
                </div>
                
                <div class="div-datos-producto">
                    <label for="description">Descripción:</label>
                    <input name="description" id="description" value="<%= productFind.description %>">
                </div>
                
                <div class="div-datos-producto">
                    <label for="category">Categoría:</label>
                    <select name="category" id="category" required>
                        <option value="<%= productFind.category %>"><%= productFind.category %></option>
                        <option value="1">Cámaras</option>
                        <option value="2">Televisores</option>
                        <option value="3">Vinilos</option>
                        <option value="4">Tocadiscos</option>
                        <option value="5">Radios</option>
                        <option value="6">Teléfonos</option>
                    </select>
                </div>
                
                <!-- <div class="div-datos-producto">
                    <label for="color">Color:</label>
                    <select name="color" id="color">
                        <option value="">Elija un color</option>
                        <option value="blanco">Blanco</option>
                        <option value="negro">Negro</option>
                        <option value="rojo">Rojo</option>
                        <option value="verde">Verde</option>
                        <option value="metal">Metal</option>
                        <option value="madera">Madera</option>
                        <option value="n/a">n/a</option>
                    </select>
                </div>
                 -->
               <div class="div-datos-producto">
                    <label>Precio:</label>
                    <input type="number" name="price" id="price"  value="<%= productFind.price %>">
                </div>
                
                <div class="div-datos-producto">
                    <label>Imagen:</label>
                    <input type="file" name="image" id="image" accept=".jpg, .png" class="input-archivo">
                </div>
                
                
                <div class="div-botones">

                    <button type="reset" class="button-reset">BORRAR</button>
                
                    <button type="submit" class="button-submit">GUARDAR</button>
                </div>
                                   
            </form>


        </main>
        
    
    </body>
    </html>


 