<!DOCTYPE html>
<html>
        <%- include ('../partials/headAdmin.ejs') %>
    
        <link href="/css/productAdmin.css", rel="stylesheet">
        
    
    </head>

    <body>

        <%- include ('../partials/headerAdmin.ejs') %>

        <main>
            <h1>Modificar producto: <%= product.name %></h1>

            <form action="/admin/<%= product.id %>?_method=PUT" method="POST" class="form-producto" enctype="multipart/form-data">

                <div class="div-datos-producto">
                    <label for="name">Nombre:</label>
                    <input type="text" name="name" id="name" value="<%= product.name %>">
                </div>
                
                <div class="div-datos-producto">
                    <label for="description">Descripción:</label>
                    <input name="description" id="description" maxlength="300" value="<%= product.description %>">
                   
                </div>
                
                <div class="div-datos-producto">
                    <label for="category">Categoría:</label>
                    <select name="category_id" id="category_id" required>

                        <% categories.forEach (category => { %> 
                            <option value="<%= category.id %>" 
                                <%= product.category_id == category.id ? 'selected':null %>
                                ><%= category.name.toUpperCase() %></option>
                        <% }) %>

                    </select>
                </div>

                <div class="colors-checkbox">
                    <p class="colors-label">Colores:</p>
                    
                    <div class="color-list">
                        <% colors.forEach (color => { %> 
                        <label for="colors">
                            <input type="checkbox" name="colors" value="<%= color.id %>"
                            <% product.colors.forEach (productColor => { %>
                                <%= color.id == productColor.dataValues.id ? 'checked' : null %>
                            <% }) %>>
                            <%= color.name %>
                        </label>
                        <% }) %>
                    </div>
                </div>

                
                <!-- <div class="div-datos-producto">
                    <label for="color">Color:</label>
                    <select name="color_id" id="color_id">
                        <% colors.forEach (color => { %> 
                        <option value="<%= color.id %>" 
                            <%= product.color_id == color.id? 'selected':null %> 
                            ><%= color.name.toUpperCase() %>
                        </option>
                        <% }) %>
                    </select>
                </div> -->
                
               <div class="div-datos-producto">
                    <label>Precio:</label>
                    <input type="number" name="price" id="price"  value="<%= product.price %>">
                </div>

                <div class="div-datos-producto">
                    <label>Descuento:</label>
                    <input type="number" name="discount" id="discount"  value="<%= product.discount %>">
                </div>

                <div class="div-datos-producto">
                    <label>Imagen:</label>
                    <p class="nombre-imagen"><%= product.img %></p>
                    <input type="file" name="img" id="img" accept=".jpg, .png" class="input-archivo" >
                </div>
                
                <div class="div-destacado">
                    <label for="special">Producto destacado</label>
                    <input type="checkbox" name="special" id="special" class="input-destacado" 
                        <%= product.special && product.special == 1? 'checked':null %>
                </div>  
                
                <div class="div-botones">

                    <button type="reset" class="button-reset">BORRAR</button>
                
                    <button type="submit" class="button-submit">GUARDAR</button>
                </div>
                                   
            </form>


        </main>
        
    
    </body>
    </html>


 