<!DOCTYPE html>
<html lang="en">

    <%- include ('../partials/headAdmin.ejs') %>

    <link href="/css/productDetailAdmin.css", rel="stylesheet">
    

</head>    

<body>

    <%- include ('../partials/headerAdmin.ejs') %>
    

    <main>

        <article class="article-producto">

            <div class="div-img-producto">
                <img src="<%= product.image %>" alt="telefono-8">
            </div>

            <div class="div-datos-producto">

                <h4 class="p-dato-producto h4-nombre-producto"><%= product.name %></h4>

                <p class="p-dato-producto p-descripcion"><%= product.description %></p>

                <p class="p-dato-producto p-categoria"><%= product.category %></p>

                <p class="p-dato-producto p-color"><%= product.color %></p>

                <p class="p-dato-producto p-precio">$<%= toThousand(product.price) %></p>

                <p class="p-dato-producto p-descuento"><%= product.discount %>%</p>

            
            </div> 
        </article>
    
    </main>

    
</body>
</html>
