<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %>
    <link href="/css/login.css" , rel="stylesheet">


    </head>

    <body>
        <%- include('../partials/header.ejs') %>
            <main>
                <form action="/users/login" method="POST" class="formulario">
                    <input class="mensaje" value="<%= locals.msg? locals.msg:null %>">

                    <div class="form-control">
                        <label>Email </label>

                        <input type="email" name="email" class="input-login"
                            value="<%= locals.old && old.email ? old.email : null%>">
                        <% if (locals.errors && errors.email) { %>
                            <div class="error">
                                <%= errors.email.msg %>
                            </div>
                            <% } %>
                    </div>
                    <div class="form-control">
                        <label>Contraseña </label>
                        <input type="password" name="password" class="input-login">
                        <% if (locals.errors && errors.password) { %>
                            <div class="error">
                                <%= errors.password.msg %>
                            </div>
                            <% } %>

                                <div class="small-letter">
                                    <label class="remember-me"><input type="checkbox"
                                            name="remember_user">Recordarme</label>
                                </div>

                                <a href="#" class="a-password">¿Olvidaste tu contraseña?</a>
                    </div>


                    <div class="form-final-login">
                        <button type="submit" class="button-inicio">INICIAR SESIÓN</button>
                        <p>¿No tenés cuenta aún?</p>
                        <div class="enlace-registro">
                            <a href='/users/registro'>Crear cuenta</a>
                        </div>
                    </div>



                </form>
            </main>
            <%- include('../partials/footer.ejs') %>

            
    </body>

</html>