<!DOCTYPE html>
<html lang="en">

        <%- include('../partials/head.ejs') %>
        <link href="/css/profile.css", rel="stylesheet">
    
        
    </head>
  
    <body>
        <%- include('../partials/header.ejs') %>
        <main>
            <input class="mensaje" value="<%= locals.msg? locals.msg:null %>">
            
            <div class="user">
                <div class="userImg">
                    <img src="<%=user.image%>">
                </div>
                
                <div class="userData">
                    <p><strong><%=user.first_name%> <%=user.last_name%></strong></p>
                    <p><%=user.email%></p>
                    <p><%=user.phone%></p>
                    <p><%=user.dateBirth%></p>
                </div>

            </div>

            <div class="button">
                <a href="#">
                    <button>Modificar datos</button>
                </a>
            </div>


            


        </main>
        <%- include('../partials/footer.ejs') %>
    </body>
</html>